
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1130px; height: 123px;'></textarea><br>
    <input type="checkbox" name="removepunc">remove punctuation<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">removed new lines<br>
    <input type="checkbox" name="extraspaceremover">removed extra space<br>
    
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>
